@model User

<!DOCTYPE html>

<html>
<head>
    <title>Welcome @Model.Username</title>
</head>
<body>
<div>
    <ul>
        <li>@Model.UserId</li>
        <li>@Model.Username</li>
        <li>@Model.Email</li>
    </ul>
</div>
</body>
</html>